<h2>アカウント作成</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username, "ユーザ名" %><br/>
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br/>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
          (<%= @minimum_password_length %>文字以上で登録してください)
      <% end %><br/>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード (確認)" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "アカウント作成" %>
    </div>
<% end %>

<%= render "devise/shared/links" %>
