<!DOCTYPE html>
<html>
<head>
  <title>Poemy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'shared/header' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<article class="container">
  <section class="left-container">
    <%= render 'shared/footer' %>
  </section>
  <section class="main">
    <%= yield %>
  </section>
  <%= render 'shared/advertisement' %>
</article>

</body>
</html>
